* {
    margin: 0;
    padding: 0;
}

.find-store {
    height: 40px;
    padding-inline: 40px;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
}

.findstore-inner {
    display: flex;
    align-items: center;
    gap: 5px;
}

img.smallicon {
    height: 13px;
}

.findstore-inner p {
    color: #000507;
    font-size: 13px;
}

.grey-div {
    background: #848484;
    height: 24px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey-div p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* Middle section */

.left-search {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid;
    padding-left: 5px;
}

.left-search input {
    width: 90%;
    height: 40px;
    border: 0;
    outline: 0;
}

.left-search input::placeholder {
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.custom-input {
    width: 19%;
    /* background:lavender; */
    padding-left: 30px;
}

.navtop {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navtop img {
    height: 33px;
    cursor: pointer;
}

.left-search>img {
    height: 26px;
    cursor: pointer;
}

/* Right Section */

.useraction-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.useraction-inner>img {
    height: 16px;
    object-fit: contain;
}

.useraction-inner p {
    font-size: 12px;
    margin-top: 0.25rem;
    color: #010101;
    font-weight: 300;
}

.useractions {
    display: flex;
    gap: 28px;
    margin-right: 30px
}

/* Middle Part */

.nav-center {
    display: flex;
    justify-content: center;
    border-bottom: .5px solid #0101014f;
}

.nav-center ul {
    display: flex;
    list-style: none;
    margin-top: 11px;
    justify-content: center;
    width: 100%;
}

.nav-center ul>li {
    font-size: 14px;
    font-weight: 300;
    margin-right: 1.75rem;
    color: #010101;
    cursor: pointer;
    padding: 10px 2px;
    margin-right: 28px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: border-color ease 0.3s;

    &:hover {
        border-bottom: 2px solid currentColor;
    }
}

.hover-cat {
    padding-top: 3px;
    border-bottom: .5px solid #0101014f;
}

.hover-cat>ul {
    display:flex;
    list-style:none;
    width:100%;
    gap:2.7%;
    justify-content:center;
}

.hover-cat>ul>li {
    padding: 11px 2px 8px;
    font-weight:600;
    font-size:14px;
    cursor: pointer;
    border-bottom: 2px solid #ffffff00;
    &:hover {
        border-bottom: 2px solid currentColor;
    }
}

/* Poster */

.poster {
    display:flex;
    width:25%;
    cursor: pointer;
}

.poster-inner {
    flex:1;
    text-align:center;
}

.ashposter-inner{
    display:flex;
    width:94%;
    margin-inline:auto;
    justify-content:center;
}

.ashposter {
    background:#f2efeb;
    height:60px;
    align-content:center;
}

p.ptopoffer {
    font-size:14px;
    color:#010101;
    font-weight:600;
}

p.pdown {
    font-weight:500;
}